<nav>
  <ul>
    <li>
      <a routerLink="/binding-concept">Binding</a>
    </li>
    <li>
      <a routerLink="/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/life-cicle">Life cicle</a>
    </li>
    <li>
      <a routerLink="/events">Events</a>
    </li>
    <li>
      <a routerLink="/input-output">Input / Output</a>
    </li>
    <li>
      <a routerLink="/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/template-form">Template driven form</a>
    </li>
    <li>
      <a routerLink="/reactive-form">Reactive form</a>
    </li>
  </ul>
</nav>
